@model BulgarianViews.Web.ViewModels.LocationPost.LocationPostCreateViewModel

@{
    ViewData["Title"] = "Add New Location";
}

<h1 class="text-center my-4">Add a New Location</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-light">
    <div class="form-group mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="PhotoURL" class="form-label">Photo</label>
        <input asp-for="PhotoURL" class="form-control" type="file" />
        <span asp-validation-for="PhotoURL" class="text-danger"></span>
    </div>

    <div class="mb-3">

        <label asp-for="@Model.TagId" class="form-label-add-edit">Select Tag</label>
        <select asp-for="@Model.TagId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Tags, "Id", "Name"))">
            <option value="">Select Fishing Technique...</option>
        </select>
        <span asp-validation-for="@Model.TagId" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Add Location</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
