@model IEnumerable<BulgarianViews.Web.ViewModels.Comment.CommentViewModel>

<div class="comments-section mt-4">
    <h5>Comments</h5>
    @if (!Model.Any())
    {
        <p>No comments yet. Be the first to comment!</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var comment in Model)
            {
                <li class="list-group-item">
                    <p class="mb-1">@comment.Content</p>
                    <small class="text-muted">
                        Posted by <strong>@comment.UserName</strong> on @comment.DateCreated.ToString("yyyy-MM-dd HH:mm")
                    </small>
                </li>
            }
        </ul>
    }
</div>
